*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #1A1A1A;
}
.page{
    max-width: 1440px;
    margin: 0 auto;
}
h1{
    max-width: 360px; 
    justify-self: end;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
@media(max-width:574px){
    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    
}
    

img{
    width: 100%;
}

.one{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: start;
    
}
.one p{
    
}
.two{
    display: grid;
    justify-items: start;
    grid-column-start: 5;
    grid-column-end: 7;
    padding-top: 250px;
}
.two p{
    
    
}
.three{
    display: grid;
    align-content: start;
    grid-column-start: 1;
    grid-column-end: 3;
}
.three p{
    
}
.four{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 7;
    padding-top: 250px;
}
.four p{
    
}
.theme{
    font-size: 35px;
}
.description{
    font-size: 17px;
    opacity: 0.6;
}
